<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
        crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>Sala de Chat</title>
</head>
<body>
    <div class="settings">
        <label for="background-color">Cor de Fundo:</label>
        <select id="background-color">
            <option value="palevioletred">Pale Violet Red</option>
            <option value="lightblue">Light Blue</option>
            <option value="lightgreen">Light Green</option>
            <option value="white">White</option>
            <option value="grey">Grey</option>
            <option value="black">Black</option>
            <option value="yellow">Yellow</option>
            <option value="orange">Orange</option>
            <option value="purple">Purple</option>
            <!-- Adicione outras opções de cores aqui -->
        </select>
        <label for="font-family">Fonte:</label>
        <select id="font-family">
            <option value="Arial">Arial</option>
            <option value="Verdana">Verdana</option>
            <option value="Helvetica">Helvetica</option>
            <option value="Times New Roman">Times New Roman</option>
            <option value="Courier New">Courier New</option>
            <option value="fantasy">Papyrus</option>
            <!-- Adicione outras opções de fontes aqui -->
        </select>
        <label for="font-color">Cor da Fonte:</label>
        <select id="font-color">
            <option value="black">Black</option>
            <option value="white">White</option>
            <option value="grey">Grey</option>
            <option value="red">Red</option>
            <option value="blue">Blue</option>
            <!-- Adicione outras opções de cores aqui -->
        </select>
    </div>    

    <div class="message-input-container">
        <input placeholder="Escreva a Mensagem!" id="messageInput" />
        <button id="sendButton">Enviar</button> <!-- Adicionando o botão de envio -->
    </div>

    <div class="messages">
        <script>
            const socket = io();

            let messageContainer = document.querySelector(".messages");
            let messageInput = document.getElementById("messageInput");

            let sendButton = document.getElementById("sendButton");
            sendButton.addEventListener("click", () => {
                const message = messageInput.value;
                if (message.trim() !== "") {
                    socket.emit("message", message);
                    messageInput.value = "";
                }
            });

            const backgroundColorSelect = document.getElementById("background-color");
            backgroundColorSelect.addEventListener("change", () => {
                const selectedColor = backgroundColorSelect.value;
                document.body.style.backgroundColor = selectedColor;
            });

            const fontFamilySelect = document.getElementById("font-family");
            fontFamilySelect.addEventListener("change", () => {
                const selectedFont = fontFamilySelect.value;
                document.body.style.fontFamily = selectedFont;
            });

            const fontColorSelect = document.getElementById("font-color");
            fontColorSelect.addEventListener("change", () => {
                const selectedColor = fontColorSelect.value;
                document.body.style.color = selectedColor;
            });
            
            socket.on('message', (message) => {
                let messageElement = document.createElement("p");
                messageElement.innerText = message;
                messageContainer.appendChild(messageElement);

                // Role automaticamente para exibir a última mensagem
                messageContainer.scrollTop = messageContainer.scrollHeight;
            });
            
        </script>
    </div>

</body>
</html>
